* {
    background-color: #649264;
}



.information-flex {
    display: flex;
    justify-content: space-around;
    border: 3px solid #333;
    box-shadow: 1rem 1rem 20px 0px;
    margin-bottom: 2.5rem;
}

.picture {
    width: 40%;
    min-height: 20em;
}
.text-flex {
    display: flex;
    flex-direction: column;
}

.my-name {
    
}

.info-text {

}

.link-container {
    display: flex;
}

.project-folder-link-1 {
    border: 3px solid #333;
    box-shadow: 1rem 1rem 20px 0px;
    
    width: 33%;
    border-radius: 0.50rem;
}

.project-folder-link-1 ul:hover {
    opacity: 0;
}

.project-folder-link-2 {
    border: 3px solid #333;
    box-shadow: 1rem 1rem 20px 0px;
    
    width: 33%;
    border-radius: 0.50rem;
}

.project-folder-link-2 ul:hover {
    opacity: 0;
}

.project-folder-link-3 {
    border: 3px solid #333;
    box-shadow: 1rem 1rem 20px 0px;
    
    width: 33%;
    border-radius: 0.50rem;
}

.project-folder-link-3 ul:hover {
    opacity: 0;
}

.project-folder-link-1:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(65, 18, 65, 0.7);
}

.project-folder-link-2:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(65, 18, 65, 0.7);
}

.project-folder-link-3:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(65, 18, 65, 0.7);
}

.link-button-1 {
    border: 2px solid rgb(65, 18, 65, 0.7);
    border-radius: 4rem;
    height: 4em;
    /*put inside variable for link buttons*/
}

.link-button-2 {
    border: 2px solid rgb(65, 18, 65, 0.7);
    border-radius: 4rem;
    height: 4em;

}

.link-button-3 {
    border: 2px solid rgb(65, 18, 65, 0.7);
    border-radius: 4rem;
    height: 4em;
    box-shadow: 0.25em 0.25em 10px 0px;

}