<!DOCTYPE html>
<head>
    <meta lang="utf-8"/>
    <title>Bash Links</title>
    <link type="text/css" rel="stylesheet" href="static/styles.css">
</head>
<body>
    <label for="bash-link-list"><h1> Bash Scripts</h1></label>
    <div id="bash-link-list" name="bash-link-list">
        <section class="bash-link">
            <div>
                <h3>mkcmd Command</h3>
                <p>mkcmd (make command) is a bash command that automates the process of <br/>
                    turning your bash or python script into a command/macro.</p>
                <p>example video link, make seperate video pages!</p>
                <a href="https://github.com/AcousticCh/mkcmd-command">Source Code</a>
            </div>
        </section>
        <section class="bash-link">
            <div>
                <h3>search Command</h3>
                <p>search is a wrapper for many file and directory finding commands.</p>
                <p>example video link, make seperate video pages!</p>
                <a href="https://github.com/AcousticCh/search-command">Source Code</a>
            </div>
        </section>
    </div>
</body>