<!DOCTYPE html>
<head>
    <meta lang="utf-8"/>
    <title>Game Links</title>
    <link type="text/css" rel="stylesheet" href="static/styles.css">
</head>
<body>
    <label for="game-link-list"><h1> Game Scripts</h1></label>
    <div id="game-link-list" name="game-link-list">
        <section class="game-link">
            <div>
                <h3>Beast Story</h3>
                <p>Beast Story is an open world platformer RPG full of fantasy!</p>
                <p>example video link, make seperate video pages!</p>
                <a href="https://github.com/AcousticCh/">Source Code</a>
            </div>
        </section>
        <section class="game-link">
            <div>
                <h3>Twist List</h3>
                <p>Twist List is a collection of classic games I rebuilt in a <br/>
                    modern way with my own twists and turns.</p>
                <p>example video link, make seperate video pages!</p>
                <a href="https://github.com/AcousticCh/">Source Code</a>
            </div>
        </section>
    </div>
</body>