<!DOCTYPE html>
<head>
    <meta lang="UTF-8"/>
    <link type="text/css" rel="stylesheet" href="static/styles.css">
    
</head>

<body class="body">
    <div class="information-flex">
        <img class="picture" src="863992.png" alt="Robert Hassenmayer"/>
        <div class="text-flex">
            <h4 class="my-name">Robert Hassenmayer</h4>
            <label for="info-text">Welcome to my portfolio!</label>
            <ul class="info-text">
                <p>I am a:</p>
                <li>Python Programmer</li>
                <li>Linux User</li>
                <li>Bash Scripter</li>
            </ul>
        </div>
    </div>
    <label id="link-container-label" for="link-container">Links to my work!</label>
    <br/>
    <nav class="link-container">
        <section class="project-folder-link-1">
            <div id="list-1-box">
                <label for ="list1">Web Development</label>
                <ul class="list1">
                    <li>Websites</li>
                    <li>Api Projects</li>
                </ul>
            </div>
        </section>
        <section class="project-folder-link-2">
            <div id="list-2-box">
                <label for ="list2">Game Development</label>
                <ul class="list2">
                    <li>RPG's</li>
                    <li>Minigames</li>
                </ul>
            </div>
        </section>
        <section class="project-folder-link-3">
            <div id="list-2-box">
                <label for ="list3">Bash Development</label>
                <ul class="list3">
                    <li>Automation</li>
                    <li>Commands</li>
                </ul>
        </div>
        </section>
    </nav>
    
    <script src="static/script.js"></script>
</body>