<!DOCTYPE html>
<head>
    <meta lang="utf-8"/>
    <title>Web Links</title>
    <link type="text/css" rel="stylesheet" href="static/styles.css">
</head>
<body>
    <label for="web-link-list"><h1>Web Apps</h1></label>
    <div id="web-link-list" name="web-link-list">
        <section class="web-link">
            <div>
                <h3>Digital Journal</h3>
                <p>Digital journal is a free blog application <br/>
                     intended to be used as a journal</p>
                <p>example video link, make seperate video pages!</p>
                <a href="https://github.com/AcousticCh/blog">Source Code</a>
            </div>
        </section>
        <section class="web-link">
            <div>
                <h3>Flash Learn</h3>
                <p>Flash Learn is a web application for building your own study resources seperated by topic. <br/>
                    Create flashcards, quizzes, quick reference, etc. Once your resources are setup you can study <br/>
                    and/or make your study materials public to share with other users.</p>
                <p>example video link, make seperate video pages!</p>
                <a href="https://github.com/AcousticCh/flashcard-app">Source Code</a>
            </div>
        </section>
    </div>
</body>